
body {
    display: flex;
    background-color: #0A0908   ;
    background-size: cover; 
    background-position: center bottom;
    background-attachment: fixed; 
    font-family: Arial 16, sans-serif bold;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 3rem;
    background-color:  #D00000;
    width: 100%;
} 

.header__logo {
    flex: 0 0 auto;
    padding-left: 3%;
    height: 5%;
    width: auto;

}

.header__logo img {
    max-height: 7vh;
    width: auto;
    margin-right: 2%;
    
}

.header__search {
    flex-grow: 1;
    margin-right: 2%;
}

.header__search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    gap: 5%;
    margin: 0 5%;
    flex-grow: 1;
    margin-right: 2%;
}

.header__search-bar input[type="text"] {
    padding: 1vh;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
}


.header__navigation {
    flex: 0.3 1 auto;
    overflow-x: auto;
}

.navigation__menu {
    padding-right: 4%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10%;
}

.navigation__menu-item {
    display: inline;
}

.navigation__menu-link {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.main {
    min-height: 80vh;
    padding: 5%;
}

.main__logo {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    padding: 1vh 0;
}

#custom-text-section {
    margin-top: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
}

#custom-text {
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 3% 0;
    text-align: center;
    width: 100%;
}

.footer__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.footer__section {
    max-width: 300px;
    margin: 10px;
}

.footer__section h3 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer__section ul {
    list-style: none;
    padding: 0;
}

.footer__section ul li {
    margin: 10px 0;
}

.footer__section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer__section ul li a:hover {
    text-decoration: underline;
}

.footer__social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer__social li {
    margin: 0 10px;
}

.footer__bottom {
    border-top: 1px solid #ffffff;
    padding: 10px 0;
    margin-top: 20px;
}