html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-size: cover; 
    background-position: center bottom;
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: background-color 0.3s ease, color 0.3s ease;
    overflow-x: hidden;
    background-image: url("imgs/infierno.jpg");
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 11vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, #D00000 100%);
    z-index: 100;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

#header.scrolled {
    background: rgba(0, 0, 0, 0.9);
}

.header__logo img {
    max-height: 7vh;
    width: auto;
}

.header__navigation {
    flex: 0.3 1 auto;
    overflow-x: auto;
    padding-left: 35%;
}

.navigation__menu {
    padding-right: 4%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10%;
}

.navigation__menu-item {
    display: inline;
}

.navigation__menu-link {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    margin: 10rem;
}

#main {
    background: #171616;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

#main__logo {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    padding: 1vh 0;
}

.custom-text-section {
    margin-top: 2rem;
    padding-bottom: 9rem;
    border-radius: 0.5rem;
}

#custom-text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ffffff;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

#Más-Abajo {
    color: #D00000;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Cursive', 'Fantasy';
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#foto-satan {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    padding-left: 5rem;
}

#reviews {
    color: #D00000;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Cursive', 'Fantasy';
    padding-top: 9rem;
}

.review-cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review-card__image {
    display: block;
    width: 35vh;
    height: 45vh;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.review-card__image:hover {
    transform: scale(1.05);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.7);
}

.review-card__title {
    color: #D00000;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Cursive', 'Fantasy';
    padding: 1rem;
}

#Novedades {
    color: #D00000;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Cursive', 'Fantasy';
    padding: 3%;
}

.content-wrapper {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: space-between;
    flex-wrap: wrap; /* Asegura que los elementos se ajusten en pantallas más pequeñas */
}

.novedades {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 1rem;
    width: 60%; /* Ajusta el ancho según sea necesario */
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
    flex: 1;
    overflow-y: auto;
    max-height: 50vh;
}

.news-card {
    padding: 1.5rem;
    border-radius: 0.8rem;
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #f5f5f5;
}

.custom-list__item:last-child {
    margin-bottom: 0;
}

.custom-list__icon {
    width: 1.25rem; /* 20px */
    height: 1.25rem; /* 20px */
    margin-right: 0.625rem; /* 10px */
}

.extra-content {
    flex: 1;
    max-width: 35%; /* Ajusta el ancho según sea necesario */
    background-color: #333;
    padding: 2rem;
    border-radius: 1rem;
    color: #ffffff;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
    text-align: left;
    overflow: hidden;
}

.extra-content__title {
    color: #D00000;
    text-align: center;
    padding-bottom: 1rem;
}

.extra-content__image {
    height: auto;
    max-width: 100%;
    display: block;
    margin: 1rem auto;
    border-radius: 1rem;
}

#footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 3% 0;
    text-align: center;
    width: 100%;
}

.footer__content {
    display: flex;
    justify-content: space-evenly; /* Espacio igual entre los elementos */
    align-items: flex-start; /* Alinea verticalmente al inicio */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    gap: 2rem; /* Espacio entre las secciones */
}

.footer__section {
    flex: 1; /* Permite que cada sección tenga proporciones flexibles */
    max-width: 20rem; /* Ancho máximo de cada sección */
    text-align: center  ; /* Alineación del texto dentro de cada sección */
}

.footer__section.central {
    text-align: center; /* Centra el contenido del bloque "central" */
}

.footer__section-title {
    border-bottom: 0.2rem solid #ffffff;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.footer__section-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__section-list-item {
    margin: 1rem 0;
}

.footer__section-list-item a {
    color: #ffffff;
    text-decoration: none;
}

.footer__section-list-item a:hover {
    text-decoration: underline;
}

.footer_contacto {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_contacto-item {
    margin: 1rem 0;
    text-align: left; /* Alineación del texto a la izquierda */
}

.footer__social {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espacio entre los ítems */
}

.footer__social-item {
    margin: 0 1rem;
}

.footer__bottom {
    border-top: 0.1rem solid #ffffff;
    padding: 1rem 0;
    margin-top: 2rem;
}
